<div id="wrapper">
  <div class="hidden-xs" style="margin-top: 300px"></div>
  <div class="gray-bg dashbard-1 text-center">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="hidden-xs" style="margin-top: 50px"></div>
      <div class="lockscreen animated fadeInDown">
        <div>
          <img src="assets/img/sparkworks-trans.png" style="width: 400px"/>
        </div>
        <div>
          <h3>Signed out</h3>
          <span>You are now signed out of the SparkWorks SSO Demo.</span>
          <br/><br/>
          <a href='https://sso.sparkworks.net/aa/logout' class="btn btn-primary">Sign out from Spark Works</a>
        </div>
      </div>
      <div class="hidden-xs" style="margin-top: 100px"></div>
    </div>
  </div>
</div>
